        .fork-me-github {
            position: fixed;
            top: 0;
            right: 0;
            z-index: 1000; /* Ensure it's on top */
        }
        .fork-me-github a {
            display: block; /* Make the entire link area clickable */
        }

        .fork-me-github img {
            border: 0; /* Remove any image border */
        }